<div class="container">
    <h1> Tasks </h1>
    {{add-task}}
    <div class="row">
        <ul class="list-group list-grpuo-custom">
            {{#each model.tasks   as |task|}}
                <li class="list-group-item" >
                    {{#if task.status}}
                        <span class="taskCompleted font-size-task">{{task.task_name}}</span>
                    {{else}}
                        <span class="taskUnCompleted font-size-task">{{task.task_name}}</span>
                    {{/if}}
                    <span >{{task.added_date}}</span>
                    <span {{action "editTask" task.id task.task_name task.status}} class="pull-right custom-icon-edit"> <i class="fa fa-edit"></i></span>
                    <span {{action "deleteTask" task.id}} class="pull-right custom-icon-trash"> <i class="fa fa-trash"></i></span>
                </li>

            {{/each}}
        </ul>
    </div>
    {{summary-task}}
</div>

<!--
$scope.prev_time = moment().format("HH:mm:ss");
$scope.prev_date = moment().format("DD/MM/YY");-->
