<div class="container">
    <h1> Tasks </h1>
    {{add-task}}
    <div class="row">
        <ul class="list-group list-grpuo-custom">
            {{#each model.tasks   as |task|}}
                <li class="list-group-item">
                    {{task.task_name}} <span class="pull-right custom-icon-edit" task-id-edit="{{task.id}}"> <i class="fa fa-edit"></i></span><span task-id-delete="{{task.id}}" class="pull-right custom-icon-trash"> <i class="fa fa-trash"></i></span>
                </li>

            {{/each}}
        </ul>
    </div>
    {{summary-task}}
</div>

<!--
$scope.prev_time = moment().format("HH:mm:ss");
$scope.prev_date = moment().format("DD/MM/YY");-->
